services:
  vue:
    build: .
    ports:
      - '5173:5173'
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=100
    volumes:
      - .:/app:cached
      - node_modules:/app/node_modules
    command: npm run dev -- --host

volumes:
  node_modules:
